@using Abp.Application.Services.Dto
@using MQKJ.BSMP.BonusPoints.Dtos
@using MQKJ.BSMP.Web.Startup
@using MQKJ.BSMP.BonusPoints
@using Microsoft.EntityFrameworkCore.Internal
@model Abp.Application.Services.Dto.PagedResultDto<BonusPointListDto>
@section styles {
}
@section scripts{
    <environment names="Development,TestingQA">
        <script src="~/view-resources/Views/BonusPoints/BonusPointsSetPage.js" charset="gbk" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/BonusPoints/BonusPointsSetPage.js" charset="gbk" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <a class="jumpsetpage" style="float:right;margin:0px 16px 15px 0px;font-size:15px;color:black" href="/Bonuspoints">返回</a>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    积分设置
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Id")</th>
                            <th>获取方式</th>
                            <th>说明</th>
                            <th>获得积分(爱豆)</th>
                            <th>扣除积分(爱豆)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bonuspoint in Model.Items)
                        {
                            <tr>
                                <td>@(Model.Items.IndexOf(bonuspoint) + 1)</td>
                                <td>@bonuspoint.EventName</td>
                                <td>@bonuspoint.EventDescription</td>
                                @{
                                    if (bonuspoint.PointsCount >= 0)
                                    {
                                        <td style="color:#008000">+@bonuspoint.PointsCount</td>
                                        <td style="color:#FF0000"></td>
                                    }
                                    else
                                    {
                                        <td style="color:#008000"></td>
                                        <td style="color:#FF0000">@bonuspoint.PointsCount</td>
                                    }
                                }

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-bonuspoint" data-bonusPoint-id="@bonuspoint.Id" data-toggle="modal" data-target="#BonusPointEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li>@*<a href="#" class="waves-effect waves-block delete-bonuspoint" data-bonusPoint-id="@bonuspoint.Id" data-bonuspoint-name="@bonuspoint.EventName"><i class="material-icons">delete_sweep</i>@L("Delete")</a>*@</li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#TagTypeCreateModal">
                        <i class="material-icons">add</i>
                    </button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BonusPointEditModal" tabindex="-1" role="dialog" aria-labelledby="BonusPointEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    设置积分
                </h4>
            </div>
            <div class="modal-body">
                <form name="bonuspointForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="hidden" name="Id" />
                                    <input id="pointsCount" type="number" name="pointsCount" required class="validate form-control">
                                    <label for="pointsCount" class="form-label">增减积分</label>
                                </div>
                                <span style="font-size:8px;color:red">说明:扣积分请在数字前面加"-"加积分只写数字</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>