@using MQKJ.BSMP.Web.Mvc.Areas.ChineseBabies.Controllers
@{
    Layout = null;

}
@model H5AliPayOutput
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爸爸在哪儿-支付宝充值</title>
    <environment names="Development,TestingQA">
        <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>

<body class="" id="modalloading">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>PleaseWait</p>
        </div>
    </div>
    <div>
        <h4 class="align-center">爸爸在哪儿</h4>
        <p class="align-center h6">【支付宝】充值页面</p>
        <div class="container">
            @if (Model == null || Model.FamilyInfo == null || Model.FamilyInfo.Family == null)
            {
                <h3>请求数据错误！</h3>
            }
            else
            {
                <div class="row bg-blue">
                    <p class="m-t-25">
                        <b class="m-l-10">充值家庭</b>
                    </p>
                    <p>
                        <label class="m-l-10">父亲：@Model?.FamilyInfo.Family.Father.NickName</label>
                        <label class="m-l-25">母亲：@Model?.FamilyInfo.Family.Mother.NickName</label>
                        <label class="m-l-25">宝宝：@Model?.FamilyInfo.Family.LatestBaby.Name</label>
                    </p>
                </div>
                <div class="m-t-10">
                    @foreach (var item in Model?.CoinList.Items)
                    {
                        <div class="row bg-white  m-b-10 ">
                            <div class="col-xs-6 col-sm-8 m-t-5">
                                <label class="col-grey">金币： @item.CoinCount </label>
                                <p class="col-orange">@(item.IsFirstCharge ? "首冲x2" : "")</p>
                            </div>
                            <div class="col-xs-3 col-sm-3  p-t-10">
                                <label class="col-red">￥ @item.MoneyAmount</label>
                            </div>
                            <div class="col-xs-3 col-sm-3  m-t-5 m-b-5 align-right">
                                <a href="javascript:void(0)" onclick="gotoPay(@item.Id)" class="waves-effect  btn btn-warning bsmp-h5-alipay" data-id="@item.Id">去支付</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="hidden" id="alipay-container"></div>
    <environment names="Development,TestingQA">
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
        <script src="~/lib/push.js/push.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/view-resources/Views/Pay/index.js" asp-append-version="true"></script>
</body>
</html>

