@using MQKJ.BSMP.Web.Startup
@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using Microsoft.EntityFrameworkCore.Internal
@using MQKJ.BSMP.EnumHelper
@model StaticPagedList<MQKJ.BSMP.Common.MqAgents.Dtos.AgentInviteCodeListDto>

@{
    var snStart = ((Model.PageNumber - 1) * Model.PageSize);
}

<table class="table">
    <thead>
        <tr>
            <th>序号</th>
            <th>邀请码</th>
            <th>邀请码类型</th>
            <th>推广员/代理</th>
            <th>邀请码状态</th>
            <th>时间</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.IndexOf(item) + snStart + 1)</td>
                    <td>@item.Code</td>
                    <td>@EnumHelper.GetDescription(item.MqAgentCategory)</td>
                    @{
                        if (item.MqAgent == null)
                        {
                            <td>暂无</td>
                        }
                        else
                        {
                            <td>@item.MqAgent.NickName</td>

                        }
                    }
                    <td>@EnumHelper.GetDescription(item.State)</td>
                    <td>@item.CreationTime</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))*@

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() {
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
    DisplayLinkToNextPage = PagedListDisplayMode.Never,
    LinkToFirstPageFormat = "首页",
    LinkToLastPageFormat = "末页",
    DisplayPageCountAndCurrentLocation = true,
    PageCountAndCurrentLocationFormat = "每页" + Model.Count + "条共{1}页",
    //DisplayItemSliceAndTotal = true,
    //ItemSliceAndTotalFormat = "每页{1}条"
})


<style type="text/css">
    .PagedList-pageCountAndLocation {
        position: absolute;
        right: 20px;
        /*color:red !important;*/
    }
</style>

