@using MQKJ.BSMP.Web.Startup
@using MQKJ.BSMP.EnumHelper
@using MQKJ.BSMP.Common.MqAgents;
@using MQKJ.BSMP.ChineseBabies
@*@model MQKJ.BSMP.ChineseBabies.Families.Dtos.GetAllFamilysListDto;*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.CurrentPageName = PageNames.FamilyManage; // The menu item will be active for this page.
}

@section scripts{
<script src="~/view-resources/Views/Familys/index.js"></script>
<script src="~/lib/laydate/laydate.js"></script>
}

<div class="row clearfix" id="loadingModal">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    家庭管理
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>刷新</a></li>
                            <li><a id="ExportToExcel" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>导出到Excel</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row clearfix" id="searchform">
                <form role="form" novalidate class="form-validation">
                    <div class="col-sm-11">
                        <div class="form-group user-style">
                            <input type="hidden" name="tenantIds" value="7" />
                            <input type="hidden" name="tenantIds" value="295" />
                            <label style="margin-left:15px;margin-right:8px;" for="nickName" class="form-label">宝宝昵称</label>
                            <input id="babyName" type="text" name="babyName" style="width:130px" class="form-inline">
                            <label style="margin-left:15px;margin-right:8px;" for="nickName" class="form-label">爸爸昵称</label>
                            <input id="fatherName" type="text" name="fatherName" style="width:130px" class="form-inline">
                            <label style="margin-left:15px;margin-right:8px;" for="nickName" class="form-label">妈妈昵称</label>
                            <input id="motherName" type="text" name="motherName" style="width:130px" class="form-inline">
                            <label style="margin-left:15px;margin-right:8px;" for="tasktype" class="form-label">家庭档次</label>
                            <select id="familyLevel" class="col-sm-2" style="width:50px;">
                                <option value="@FamilyLevel.All.GetHashCode()">@EnumHelper.GetDescription(FamilyLevel.All)</option>
                                <option value="@FamilyLevel.WellOff.GetHashCode()">@EnumHelper.GetDescription(FamilyLevel.WellOff)</option>
                                <option value="@FamilyLevel.Rich.GetHashCode()">@EnumHelper.GetDescription(FamilyLevel.Rich)</option>
                                <option value="@FamilyLevel.Poor.GetHashCode()">@EnumHelper.GetDescription(FamilyLevel.Poor)</option>
                            </select>
                            <label style="margin-left:15px;margin-right:8px;" for="tasktype" class="form-label">充值范围</label>
                            <select id="rechargeRange" class="col-sm-2" style="width:50px;">

                                <option value="@RechargeRange.All.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.All)</option>
                                <option value="@RechargeRange.FirstRange.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.FirstRange)</option>
                                <option value="@RechargeRange.SecondRange.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.SecondRange)</option>
                                <option value="@RechargeRange.ThirdRange.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.ThirdRange)</option>
                                <option value="@RechargeRange.FourthRange.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.FourthRange)</option>
                                <option value="@RechargeRange.None.GetHashCode()">@EnumHelper.GetDescription(RechargeRange.None)</option>
                            </select>
                            <label style="margin:0px 15px 0px 15px;" for="starttime" class="form-label">从</label>
                            <input id="startTime" type="text" value="" name="startTime" readonly="readonly" style="width:120px" class="form-inline">
                            <label style="margin:0px 8px 0px 8px;" class="form-label">至</label>
                            <input id="endTime" type="text" value="" name="endTime" readonly="readonly" style="width:120px" class="form-inline">
                            <button style="margin-left:20px;" type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float " id="searchBtn">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="dataList" class="body table-responsive">
                @Html.Partial("_List")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rechargeCoinModal" tabindex="-1" role="dialog" aria-labelledby="coinRechargeListModelLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form name="sceneCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-11">
                            <div class="form-group user-style">
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="orderNumber" class="form-label">订单号</label>
                                    <input id="orderNumber" type="text" name="orderNumber" placeholder="商户或微信订单号可空" style="width:280px" class="form-inline">
                                </p>
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="coinCount" class="form-label">金币量</label>
                                    <input id="coinCount" type="number" name="coinCount" style="width:280px" class="form-inline">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary waves-effect" id="familyId" value="">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--补贴流水-->
<div class="modal fade" id="subsidyModal" tabindex="-1" role="dialog" aria-labelledby="coinRechargeListModelLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form name="sceneCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-11">
                            <div class="form-group user-style">
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="subsidyMoney" class="form-label">宝宝昵称</label>
                                    <label class="form-label" id="babyNameLabel"></label>
                                </p>
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="subsidyMoney" class="form-label">流水金额</label>
                                    <input id="subsidyMoney" type="text" name="subsidyMoney" placeholder="要补贴的流水金额" style="width:280px" class="form-inline">
                                </p>
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="subsidyDate" class="form-label">补贴时间</label>
                                    <input id="subsidyDate" type="text" value="" name="subsidyDate" readonly="readonly" style="width:120px" class="form-inline">
                                </p>
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="subsidyDate" class="form-label">充值人身份</label>
                                    <input type="radio" class="radio-col-light-blue" name="subsidyPerson" id="subsidyDad" value="0" checked>
                                    <label for="subsidyDad">父亲</label>
                                    <input type="radio" name="subsidyPerson" class="radio-col-light-blue" id="subsidyMom" value="1" >
                                    <label for="subsidyMom">母亲</label>
                                </p>
                                <p>
                                    <label style="margin-left:15px;margin-right:8px;" for="SMSCode" class="form-label">验&ensp;证&ensp;码</label>
                                    <input id="SMSCode" type="text" name="SMSCode" placeholder="请输入有效的短信验证码" style="width:280px" class="form-inline">
                                    <button type="button" class="btn btn-default waves-effect" id="sendMsgCode">发送</button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary waves-effect" id="subsidy_btn">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


